@use "fonts";

$scrollbar-size: 8px;

::-webkit-scrollbar {

  width: $scrollbar-size;
  height: $scrollbar-size;
  border-radius: 9999px;

  &-thumb,
  &-track {
    border-radius: 9999px;
  }

  &-thumb {
    background-color: var(--color-gray-400);
  }

  &-track {
    background-color: var(--color-gray-700);
  }
}

body {
  font-family: "Inter", sans-serif;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s ease-in-out;
}

.modal-fade-scale-enter-from,
.modal-fade-scale-leave-to {
  opacity: 0;

  .inner {
    scale: 0.5;
  }
}

.modal-fade-scale-enter-active,
.modal-fade-scale-leave-active {
  transition: opacity .3s ease-in-out;

  .inner {
    transition: scale .3s ease-in-out;
  }
}

@layer base {
  h1 {
    margin-bottom: var(--spacing-4, 16px);
  }

  h2 {
    margin-bottom: var(--spacing-4, 16px);
  }
}
